.about {
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Libre Bodoni", serif;
  
    .about_title {
      display: flex;
      flex-direction: column;
  
      h1 {
        font-size: 48px;
        font-weight: 600;
        color: black;
      }
  
      .about_container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
  
        div {
          button {
            background-color: black;
            color: white;
            font-size: 30px;
            font-weight: 600;
            padding: 12px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color 0.3s ease;
            font-family: "Libre Bodoni", serif;
  
            &:hover {
              background-color: #333;
            }
          }
        }
      }
    }
  
    .banner {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        max-width: 500px;
        height: auto;
        max-height: 550px;
        object-fit: cover;
        border-radius: 12px;
      }
  
      .quote {
        margin-top: 1.5rem;
        font-size: 17px;
        font-style: italic;
        font-weight: 600;
        text-align: center;
        width: 41%;
      }
    }
  }

  .contactus {
    background-color: black;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;

    h2 {
      font-size: 36px;
      font-weight: 600;
    }

    p {
      font-size: 18px;
      max-width: 600px;
      margin: 1rem auto;
    }

    a {
      display: inline-block;
      margin-top: 2rem;

      button {
        padding: 12px 24px;
        background-color: white;
        color: black;
        font-size: 18px;
        font-family: "Libre Bodoni", serif;
        border: none;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          background-color: #ccc;
        }
      }
    }
  }

  
 /* Responsive tablette */
@media (min-width: 768px) and (max-width: 1024px) {
    .about {
      flex-direction: column;
      padding: 5rem 2rem;
      gap: 2rem;
      align-content: center;
  
      .about_title, .banner {
        width: 100%;
        align-items: anchor-center;
      }
  
      .about_title {
        h1 {
          font-size: 36px;
        }
  
        .about_container {
          div {
            button {
              font-size: 24px;
            }
          }
        }
      }
  
      .banner {
        img {
          max-width: 90vw;
          max-height: 400px;
        }
  
        .quote {
          font-size: 18px;
          margin-top: 1.2rem;
          width: 80%;
        }
      }
    }
  
    .contactus {
      h2 {
        font-size: 30px;
      }
  
      p {
        font-size: 16px;
      }
  
      button {
        font-size: 16px;
      }
    }
  }
  
  /* Responsive mobile */
  @media (max-width: 767.98px) {
    .about {
      flex-direction: column;
      padding: 4rem 1rem;
      gap: 2rem;
      align-content: center;
  
      .about_title, .banner {
        width: 100%;
        align-items: anchor-center;
      }
  
      .about_title {
        h1 {
          font-size: 28px;
        }
  
        .about_container {
          div {
            button {
              font-size: 18px;
              padding: 10px 16px;
            }
          }
        }
      }
  
      .banner {
        img {
          max-width: 90vw;
          max-height: 300px;
        }
  
        .quote {
          font-size: 16px;
          margin-top: 1rem;
          width: 90%;
        }
      }
    }
  
    .contactus {
      h2 {
        font-size: 24px;
      }
  
      p {
        font-size: 14px;
      }
  
      button {
        font-size: 14px;
        padding: 10px 20px;
      }
    }
  }