.accordion {
    font-family: "Libre Bodoni", serif;
    display: flex;
    flex-wrap: wrap;
    gap: 12%;
    .description {
        display: flex;
        width: 35vw;
        button {
            background-color: black;
            color: white;
            font-size: 20px;
            font-weight: 500;
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            text-align: left;
            width: 35vw;
            height: 6vh;
            display: flex;
            justify-content: space-between;
        }
    }
    .equipements {
        margin-left: 10%;
        display: flex;
        width: 35vw;
        button {
            background-color: black;
            color: white;
            font-size: 20px;
            font-weight: 500;
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            text-align: left;
            width: 35vw;
            height: 6vh;
            display: flex;
            justify-content: space-between;
        }
    }
    .grey {
        background-color: #fafafa;
        padding: 7%;
        height: 25vh;
        p {
            margin: 0 0px 2px 0px;
        }
    }
}

@media (max-width :767.98px) {
    .accordion {
        flex-direction: column;
        .description {
            width: 80vw;
            margin-bottom: 3%;
            button {
                width: 90vw;
            }
        }
        .equipements {
            width: 80vw;
            margin-left: 0;
            button {
                width: 90vw;
            }
        }
        .grey {
            font-size: 12px;
        }
    }
}

@media (min-width: 767.98px) and (max-width: 1024px) {
    .accordion {
        .equipements {
            margin-left: 0%;
        }
        .grey {
            font-size: 15px;
        }
    }
}