.header {
    color: black;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    img {
        object-fit: cover;
        display: flex;
        align-self: flex-end;
        height: 16vh;
    }
    h1 {
        font-size: 20px;
        font-weight: 500;
    }
    nav {
        display: flex;
        margin-top: 2%;
    ul{
        display: flex;
        cursor: pointer;
        a{
            text-decoration: none;
            color: black;
            &.underline{
                text-decoration: underline;
            }
        }
        li {
            margin: 0 10px;
            list-style: none;
            font-family: "Libre Bodoni", serif;
        }
    }
}}

@media (max-width :767.98px) {
    .header {
        gap: 0;
        width: 90vw;
        padding-left: 0;
        padding-right: 0;
        margin-left: 2%;
        margin-top: 4%;
        img {
            height: 5vh;
            width: 30%;
            align-self: center;
        }
        nav {
            display: none;
        li {
            font-size: 9px;
        }
    }
    }
}
@media (min-width: 767.98px) and (max-width: 1024px) {
    .header {
        gap: 5%;
        li {
            font-size: 13px;
        }
        img {
            height: 13vh;
        }
    }
}